AerOpt/FLITE
*.o
*.mod
*.Debug
*.Release
*.dll
*.pro.user
Makefile
build/
build-*-Debug/
build-*-Release/
debug/
release/
AerOpt/FortranFiles/AeroOpt/AerOpt
FLITE/Input_Data/
FLITE/Output_Data/
FLITE/*.txt
FLITE/*.bat
FLITE/*.scr

